@font-face {
  font-family: "iconfont"; /* Project id 2117302 */
  src: url('iconfont.woff2?t=1624254599643') format('woff2'),
       url('iconfont.woff?t=1624254599643') format('woff'),
       url('iconfont.ttf?t=1624254599643') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tongban:before {
  content: "\e98c";
}

.icon-tizhong:before {
  content: "\e614";
}

.icon-hangzourenwu:before {
  content: "\e738";
}

.icon-shiwu:before {
  content: "\e659";
}

.icon-huodong:before {
  content: "\e90b";
}

.icon-shuimian:before {
  content: "\e619";
}

.icon-riqiqishu:before {
  content: "\e61c";
}

.icon-github:before {
  content: "\e677";
}

.icon-qq:before {
  content: "\e657";
}

